<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments and Employees</title>
</head>
<body>
<br /><br />
<a href="/listemployees">List Employees</a>
<br />
    <h1>Departments and Employees</h1>
    <div th:each="department : ${departments}">
        <h2 th:text="${department.departmentName}"></h2>
        <div>
            <p th:each="eachEmployee:${department.employeeSet}" th:text="${eachEmployee.employeeName}"></p>
        </div>
     </div>
</body>
</html>